{{define "tplContent"}}

{{ fHTML .CSS1}}


{{template "tplRepositoryOfAmorphs" . }}


<div class='blc'
	style='
		width:{{.TotalGridWidth}}px;
		height:{{.TotalGridHeight}}px;
		background-image: url("/img/grid-gray-x4-03.gif");
		font-size:0px;
	'
	>

	<div class='blc pa t0 l{{.Layout1.CCol}}'  style='width: 6px;height:{{.TotalGridHeight}}px;background-color:#c88;margin-left:-3px'>Vert</div>
	<div class='blc pa t{{.Layout1.CRow}} l0'  style='height:6px;width:{{.TotalGridWidth}}px;  background-color:#c88;margin-top:-3px'>Hori</div>

	{{range $idxRow, $lpRow := .Layout1.M }}
		{{range $idxCol, $lpSlot := $lpRow }}
				
				
					
				{{if   $lpSlot.IsLeftTop }}  


					{{if $lpSlot.A}}  

						<div class='blc pa t{{$idxRow}} l{{$idxCol}}  
						h{{$lpSlot.A.Nrows}} w{{$lpSlot.A.Ncols}} free' 
						style='background-color:#00c'
						>
							 AIdx{{$lpSlot.A.IdxArticle}}
						</div> 


					{{end}}

					
				{{else}} 
					

<!-- 					<div class='blc pa t{{$idxRow}} l{{$idxCol}}  h1 w1 free' >
							#{{$idxRow}}:{{$idxCol}}
					</div> 
 -->					
				{{end}}
		{{end}}

	{{end}}

	<div class='blc pa t0 l{{.Layout1.West}}'  style='width:2px;height:{{.TotalGridHeight}}px;background-color:#f22;'>west</div>
	<div class='blc pa t0 l{{.Layout1.East}}'  style='width:2px;height:{{.TotalGridHeight}}px;background-color:#f22;'>east</div>

	<div class='blc pa t{{.Layout1.North}} l0' style='height:2px;width:{{.TotalGridWidth}}px;background-color:#f22;'>north</div>
	<div class='blc pa t{{.Layout1.South}} l0' style='height:2px;width:{{.TotalGridWidth}}px;background-color:#f22;'>south</div>


	<div class='blc pa t0 l{{.Layout1.IWest}}'  style='width:1px;height:{{.TotalGridHeight}}px;background-color:#ff2;'>&nbsp; &nbsp; iw</div>
	<div class='blc pa t0 l{{.Layout1.IEast}}'  style='width:1px;height:{{.TotalGridHeight}}px;background-color:#ff2;'>&nbsp; &nbsp; &nbsp; ie</div>

	<div class='blc pa t{{.Layout1.INorth}} l0' style='height:1px;width:{{.TotalGridWidth}}px;background-color:#ff2;'>&nbsp; &nbsp; &nbsp; &nbsp; in</div>
	<div class='blc pa t{{.Layout1.ISouth}} l0' style='height:1px;width:{{.TotalGridWidth}}px;background-color:#ff2;'>&nbsp; &nbsp; &nbsp; &nbsp; is</div>


	<div class='blc pa l7  t11 w12 ' style='white-space:pre; line-height:15px;;height: auto; 
		padding: 4px;background-color: #cc2' 
>1. circle around
2. concentrate on either entire sides, or mere corners, or divide into sub-spaces
3. permutate all amorphs
4. preference a: prefer those fitting into cavities (min interior cavities)
5. preference b: minimize exterior cavities - longest even line
5b.   give special penalty for deep external cavities
6. prefer amorphs, which "snap to" outer limit
6b. penalize small external cavities at outer limit
	</div>

	{{range $idxLine, $lpLine := .Layout1.OutlineN }}
		{{if $lpLine.Vert }}
			<!--up or down-->
			<div class='blc pa t{{$lpLine.DrawRow}} l{{$lpLine.DrawCol}}
					h{{$lpLine.Length}}
				' 
				style='width:4px;background-color:#f2f;'  
			>  {{$idxLine}}
			</div>
		{{else}}
			<div class='blc pa t{{$lpLine.DrawRow}} l{{$lpLine.DrawCol}}
					w{{$lpLine.Length}}
				' 
				style='height:4px;background-color:#f2f;'  
			>  {{$idxLine}}
			</div>
		{{end}}
	{{end}}


	<div style='position:relative;top:2px;left:3px;'>
	{{range $idxLine, $lpLine := .Layout1.OutlineS }}
		{{if $lpLine.Vert }}
			<!--up or down-->
			<div class='blc pa t{{$lpLine.DrawRow}} l{{$lpLine.DrawCol}}
					h{{$lpLine.Length}}
				' 
				style='width:4px;background-color:#a0a;'  
			>  {{$idxLine}}
			</div>
		{{else}}
			<div class='blc pa t{{$lpLine.DrawRow}} l{{$lpLine.DrawCol}}
					w{{$lpLine.Length}}
				' 
				style='height:4px;background-color:#a0a;'  
			>  {{$idxLine}}
			</div>
		{{end}}
	{{end}}
	</div>

</div>
{{end}}