{{define "tplContent"}}

{{ fHTML .CSS1}}


{{template "tplRepositoryOfAmorphs" . }}


<div class='blc'
	style='
		width:{{.TotalGridWidth}}px;
		height:{{.TotalGridHeight}}px;
		background-image: url("/img/grid-gray.gif");
		font-size:0px;
	'
	>

	{{range $idxRow, $lpRow := .Layout1.M }}
		{{range $idxCol, $lpSlot := $lpRow }}
				
				
					
				{{if   $lpSlot.IsLeftTop }}  


					{{if $lpSlot.A}}  

						<div class='blc pa t{{$idxRow}} l{{$idxCol}}  
						h{{$lpSlot.A.Nrows}} w{{$lpSlot.A.Ncols}} free' 
						style='background-color:#00c'
						>
							 AIdx{{$lpSlot.A.IdxArticle}}
						</div> 


					{{end}}

					
				{{else}} 
					

<!-- 					<div class='blc pa t{{$idxRow}} l{{$idxCol}}  h1 w1 free' >
							#{{$idxRow}}:{{$idxCol}}
					</div> 
 -->					
				{{end}}
		{{end}}

	{{end}}

	<div class='blc pa t0 l{{.Layout1.West}}'  style='width:2px;height:{{.TotalGridHeight}}px;background-color:#f22;'>west</div>
	<div class='blc pa t0 l{{.Layout1.East}}'  style='width:2px;height:{{.TotalGridHeight}}px;background-color:#f22;'>east</div>

	<div class='blc pa t{{.Layout1.North}} l0' style='height:2px;width:{{.TotalGridWidth}}px;background-color:#f22;'>north</div>
	<div class='blc pa t{{.Layout1.South}} l0' style='height:2px;width:{{.TotalGridWidth}}px;background-color:#f22;'>south</div>



</div>
{{end}}