{{define "tplContent"}}

{{ fHTML .CSS1}}


{{template "tplRepositoryOfAmorphs" . }}



<div class='blc'
	style='
		width:800px;
		height:700px;
		background-image: url("/img/grid-gray.gif");
		font-size:0px;
	'
>
	<div class='blc pa l6  t5  h4 w6 taken' >taken 01</div>

	<div class='blc pa l0  t11  h3 w2 taken' >taken 02</div>

	<div class='blc pa l0  t0   h5  w20 slot' >slot -04</div>
	<div class='blc pa l12  t0   h14  w8 slot' >slot -02</div>


	<div class='blc pa l0  t0   h11 w6 slot' >slot 01</div>
	<div class='blc pa l6  t0   h5  w14 slot' >slot 02</div>
	<div class='blc pa l6  t9   h5  w14 slot' >slot 03</div>
	<div class='blc pa l2  t11   h3  w4 slot' >slot 04</div>
	<div class='blc pa l12  t5   h4  w8 slot' >slot 04</div>
	<div class='blc pa l2  t9   h5  w18 slot' >slot 04</div>



</div>
{{end}}